/* selectpage.css */
/* 기본 레이아웃 */
.cr_select-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.cr_select-main {
  flex: 1;
}

.cr_select-content {
  width: 100%;
}

.cr_select-grid {
  display: grid;
  gap: 20px;
  padding: 20px;
}

.cr_select-more {
  display: flex;
  justify-content: center;
  padding: 16px 0;
}

.cr_select-arrow {
  animation: bounce 1s infinite;
}

/* 로딩 스타일 */
.cr_loading-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  display: flex; /* modal.css */
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7); /* 배경 어두운 효과 */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 150;
    padding: 20px;
  }

  .modal-content {
    background: white;
    text-align: center;
    padding: 40px;
    position: relative;
    height: fit-content;
    border-radius: 50px;
    margin: auto;
    box-sizing: border-box;
  }

  .btn-layout {
    display: flex;
    justify-content: center; /* 버튼 간격 조정 */
    margin-top: auto;
    gap: 8px;
  }

  .close-button {
    width: 29%;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 40px;
    cursor: pointer;
    background-color: #ededed;
    color: #666666;
    border: none;
    transition: background-color 0.2s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 56px;
  }
  .close-button:hover {
    background-color: #e0e0e0;
  }
  .navigate-button {
    width: 71%;
    height: 56px;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    background: linear-gradient(to right, #2666fb, #00c8ad);
    color: #fff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    transition: all 0.3s ease;
  }

  .navigate-button img {
    display: block;
    width: 20px;
    height: 20px;
    object-fit: contain;
  }

  .navigate-button:hover {
    box-shadow: 4px 4px 16px rgba(36, 56, 159, 0.2);
    background-color: rgba(0, 0, 0, 0.04);
  }
  @media (min-width: 360px) and (max-width: 767px) {
    .modal-content {
      padding: 20px;
    }
  }
}

.cr_loading-spinner {
  width: 80px;
  height: 80px;
  color: #1d4ed8;
  animation: spin 1s linear infinite;
}

/* 모달 스타일 */
.cr_select-modal-content {
  width: 620px;
  max-width: 620px;
  margin: 0 20px;
}

.cr_select-modal-content.walking {
  height: 611px;
  max-height: 611px;
}

.cr_select-modal-content.webtoon {
  height: 686px;
  max-height: 686px;
  border-radius: 5%;
}

.cr_select-modal-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.cr_select-modal-hashtags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  justify-content: center;
  margin-bottom: 16px;
}

.cr_select-modal-tag {
  color: #f79d00;
  padding: 6px 10px;
  border: 1px solid #f79d00;
  border-radius: 17px;
  font-size: 15px;
  font-weight: 500;
}

.cr_select-modal-image {
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.cr_select-modal-description {
  padding: 20px 30px;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: -0.45px;
}

.cr_select-modal-btn-layout {
  display: flex;
  justify-content: center;
  gap: 8px;
  position: absolute;
  bottom: 40px;
  left: 40px;
  right: 40px;
  width: calc(100% - 80px);
}

/* 반응형 스타일 */
@media (min-width: 360px) and (max-width: 767px) {
  .cr_select-grid {
    gap: 16px;
    padding: 16px;
  }

  .cr_select-modal-content {
    width: 320px;
    height: auto;
    margin: 0 20px;
  }
  .cr_select-modal-content.walking {
    height: 379px;
  }

  .cr_select-modal-title {
    font-size: 20px;
  }

  .cr_select-modal-description {
    font-size: 16px;
    padding: 16px 20px;
  }
  .cr_select-modal-btn-layout {
    bottom: 24px;
    left: 20px;
    right: 20px;
    width: calc(100% - 40px);
  }
  .cr_select-modal-content.webtoon {
    height: 435px;
  }
}
@media (min-width: 768px) and (max-width: 1919px) {
  .cr_select-modal-content {
    width: calc(320px + (620 - 320) * ((100vw - 768px) / (1919 - 768)));
  }

  .cr_select-modal-content.walking {
    height: calc(379px + (611 - 379) * ((100vw - 768px) / (1919 - 768)));
  }

  .cr_select-modal-content.webtoon {
    height: calc(435px + (686 - 435) * ((100vw - 768px) / (1919 - 768)));
  }

  .cr_select-modal-btn-layout {
    bottom: calc(24px + (40 - 24) * ((100vw - 768px) / (1919 - 768)));
    left: calc(20px + (40 - 20) * ((100vw - 768px) / (1919 - 768)));
    right: calc(20px + (40 - 20) * ((100vw - 768px) / (1919 - 768)));
    width: calc(100% - (40px + (80 - 40) * ((100vw - 768px) / (1919 - 768))));
  }
}
