.yg-select-banner-container {
  display: flex;
  align-items: center;
  height: 500px;
  border-radius: 0 0 40px 40px;
  overflow: hidden;
}

.yg-select-banner-wrapper{
  width: 62.5%;
  margin: 0 auto;
}

.yg-select-text-content-wrapper {
  max-width: 40%;
  bottom: 0%;
}

.yg-select-title {
 font-size: 52px;
 font-weight: bold;
 line-height: 76px;
 color: white;
}

.yg-select-description {
  color: white;
  font-size: clamp(16px, 1.25vw, 24px);
}

.yg-select-walking-robot-img {
  width: 23.33%;
  height: auto;
  right: 24%;
  bottom: 17%;
  z-index: 10;
}

.yg-select-webtoon-robot-img {
  width: 23.33%;
  height: auto;
  right: 19%;
  bottom: 15%;
  z-index: 10;
}

.yg-select-walking-building-img {
  right: -30.55%;
  scale: 100%;
}

.yg-select-webtoon-hand-img {
  right: -30%;
  scale: 100%;
}

@keyframes float {
  0% , 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px); 
  }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}

@media (min-width: 768px) and (max-width: 1919px) {
  .yg-select-banner-container {
    min-width: 768px;
    height: 450px;
  }

  .yg-select-banner-wrapper {
    width: 70%;
  }

  .yg-select-text-content-wrapper {
    max-width: 45%;
  }

  .yg-select-title {
    font-size: 35px;
    line-height: 55px;
  }

  .yg-select-walking-robot-img {
    width: 280px;
    right: -10%;
    bottom: 15%;
    
  }

  .yg-select-webtoon-robot-img {
    width: 280px;
    right: -10%;
    bottom: 12%;
  }

  .yg-select-walking-building-img {
    display: none;
  }

  .yg-select-webtoon-hand-img {
    display: none;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .yg-select-banner-container {
    width: 100%;
    height: 424px;
  }
  .yg-select-banner-wrapper {
    width: 88%;
    margin: 0 6vw;
    
  }
  .yg-select-walking-robot-img {
    width: 55.5%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
    
  }
  .yg-select-webtoon-robot-img {
    width: 55.5%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 5%;
  }
  .yg-select-walking-building-img {
    display: none;
  }
  .yg-select-webtoon-hand-img {
    display: none;
  }

  .yg-select-text-content-wrapper {
    max-width: 100%;
    top: 25%
  }
  .yg-select-title {
    font-size: 24px;
    line-height: 38px;
    letter-spacing: -1.3px;
  }
}

