.yg-select-banner-container {
  display: flex;
  align-items: center;
  height: 500px;
  border-radius: 0 0 40px 40px;
  overflow: hidden;
}

.yg-select-banner-wrapper{
  width: 62.5%;
  margin: 0 auto;
}

.yg-select-text-content-wrapper {
  max-width: 40%;
  bottom: 0%;
}

.yg-select-title {
 font-size: 52px;
 font-weight: bold;
 line-height: 76px;
 color: white;
}

.yg-select-description {
  color: white;
  font-size: clamp(16px, 1.25vw, 24px);
}

.yg-select-walking-robot-img {
  left: 5%;
}

.yg-select-webtoon-robot-img {
  left: 22%;
}

.yg-select-walking-building-img {
  bottom: 1%;
  left: 45%;
  scale: 105%;
}

.yg-select-webtoon-hand-img {
  bottom: 11%;
  right: -53%;
  scale: 128%;
}

@keyframes float {
  0% , 100% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px); 
  }
}

.animate-float {
  animation: float 2s ease-in-out infinite;
}

@media(min-width: 768px) and (max-width: 1919px) {
  .yg-select-walking-robot-img {
    bottom: 10%;
    right: 0%;
    scale: 120%;
  }
  .yg-select-webtoon-robot-img {
    bottom: 20%;
    left: 30%;
    scale: 160%;
  }
  .yg-select-walking-building-img {
    left: 30%;
  }
  .yg-select-webtoon-hand-img {
  }
  .yg-select-title {
    font-size: 35px;
    line-height: 55px;
  }

  .yg-select-text-content-wrapper {
    max-width: 50%;
    margin-top: 10%;
    margin-left: -20%;
  }
}

@media (min-width: 360px) and (max-width: 767px) {
  .yg-select-banner-container {
    width: 95%;
    justify-content: start;
  }
  .yg-select-banner-wrapper {
    height: 424px;
  }
  .yg-select-walking-robot-img {
    bottom: 10%;
    right: 120%;
    scale: 200%;
  }
  .yg-select-webtoon-robot-img {
    bottom: -5%;
    right: 50%;
    scale: 80%;
  }
  .yg-select-walking-building-img {
    display: none;
  }
  .yg-select-webtoon-hand-img {
    display: none;
  }

  .yg-select-text-content-wrapper {
    max-width: 100%;
    margin-top: -5%;
    margin-left: 4.5%;
  }
  .yg-select-title {
    font-size: 24px;
    line-height: 38px;
    letter-spacing: -1.3px;
  }
}