/* 공통 스타일 (1920px 기준) */
.cr_button-section-container {
  position: relative;
  width: 100vw;
  left: calc(-50vw + 50%);
  margin: 0;
}

.cr_button-section-wrapper {
  max-width: 1920px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.cr_button-section-grid {
  display: flex;
  flex-direction: row;
  gap: 36px;
  margin: 0;
}

.cr_action-button {
  position: relative;
  overflow: hidden;
  transition: opacity 0.3s;
  width: 882px;
  height: 320px;
  border-radius: 40px;
}

.cr_action-button:hover {
  opacity: 0.8;
}

.cr_text-and-arrow-container {
  position: absolute;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 80px;
  top: 56px;
  padding: 0;
}

.cr_button-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.cr_button-title {
  color: white;
  font-weight: bold;
  white-space: nowrap;
  font-size: 36px;
  line-height: 52px;
  letter-spacing: -0.9px;
}

.cr_button-arrow {
  position: absolute;
  left: 80px;
  bottom: 57px;
  width: 44px;
}

.cr_button-background {
  position: absolute;
  width: 441px;
  height: 320px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

/* 모바일 */
@media (min-width: 360px) and (max-width: 767px) {
  .cr_button-section-wrapper {
    padding: 0 20px;
  }

  .cr_button-section-grid {
    flex-direction: column;
    gap: 16px;
    margin: 0;
    width: 100%;
  }

  .cr_action-button {
    width: 320px;
    height: 152px;
    border-radius: 20px;
  }

  .cr_text-and-arrow-container {
    left: 24px;
    top: 24px;
    padding: 0;
  }

  .cr_button-title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.5px;
  }

  .cr_button-arrow {
    left: 24px;
    bottom: 24px;
    width: 20px;
  }

  .cr_button-background {
    width: 163px;
    height: 118px;
    right: 0;
    top: 61%;
    transform: translateY(-50%);
  }
}

/* 태블릿 */
@media (min-width: 768px) and (max-width: 1919px) {
  .cr_button-section-wrapper {
    padding: 0 24px;
  }

  .cr_button-section-grid {
    flex-direction: row;
    gap: 24px;
    margin: 0;
  }

  .cr_action-button {
    width: 348px;
    height: 164px;
    border-radius: 20px;
  }

  .cr_text-and-arrow-container {
    left: 24px;
    top: 24px;
    padding: 0;
  }

  .cr_button-title {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: -0.5px;
  }

  .cr_button-arrow {
    left: 24px;
    bottom: 24px;
    width: 22px;
  }

  .cr_button-background {
    width: 177px;
    height: 164px;
    right: 0;
    top: 61%;
    transform: translateY(-50%);
  }
}
