.navigation-buttons {
  top: 32%;
  left: 30%;
  z-index:100;
  margin: 0;
}

.shared-content1, .shared-content2, .shared-content3 {
  width: 25.313%;
}

.item-img {
  width: 100%;
  height: 100%;
  border-radius: 8%;
  overflow: hidden;
}

.item-title {
  text-align: left;
  padding: 4.9% 4.9% 4.9% 3%;
  margin: 0 auto 0 0;
  font-size: 150%;
  font-weight: 600;
}

.shared-content1 {
  top: 10.67%;
  right: 18.75%
}

.shared-content2 {
  top: 44.07%;
  right: 50%;
}

.shared-content3 {
  top: 53.53%;
  right: 18.75%
}

.control-arrow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.57%;
  width:8.85%;
  height:3.73%;
  top:32.3%;
  left:18.95%;
}

.control-arrow > img {
  margin: 0;
}


.hover-cover {
  border-radius: 8%;
}

@keyframes float-robot {
  0% {
    transform: translateX(-10%) rotate(0);
    opacity: 0;
  }
  100% {
    transform: translateX(-105%) rotate(-30deg);
    opacity: 1;
  }
}

.robot {
  animation: float-robot 1s ease-in-out forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.item-fade{
  animation: fade-in .5s ease-in-out forwards;
}
