.swiper-button-prev-custom,
.swiper-button-next-custom {
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Swiper 기본 버튼 숨기기 */
.swiper-button-prev,
.swiper-button-next {
  display: none !important;
}

.slider-container {
  margin-top: 106px;
  overflow: hidden;
  position: relative;
  padding: 1rem 0;
  height: 750px;
}

.slide-track {
  display: flex;
  animation: slide 30s linear infinite;
  width: fit-content;
  position: relative;
  z-index: 2;
}

.slide-item {
  flex-shrink: 0;
  width: 408px;
  height: 408px;
  position: relative;
  z-index: 1;
}

.content-card {
  border-radius: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.content-card:hover {
  transform: scale(1.05);
}

.webtoon-swiper {
  margin-top: 106px;
  overflow: visible;
  height: 100%;
  z-index: 2;
}
.swiper-wrapper {
  display: flex;
  gap: 36px;
  transition-timing-function: linear !important;
}

/* Swiper 기본 스타일 재정의 */
.swiper-container {
  overflow: visible !important;
}

.swiper-slide {
  width: auto !important;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-33.333%));
  }
}

/* 호버 시 애니메이션 일시 정지 */
.slide-track:hover {
  animation-play-state: paused;
}

/* 부드러운 스크롤을 위한 가상 요소 */
.slider-container::before,
.slider-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 4rem;
  z-index: 2;
  pointer-events: none;
}

.slider-container::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent);
}

.slider-container::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.1), transparent);
}

/* infinite text */
.infinite-text-container {
  position: absolute;
  bottom: 0%;
  width: 100%;
  overflow: hidden;
  z-index: 0;
}

.infinite-text {
  display: flex;
  flex: 0 0 auto;
  white-space: nowrap;
  overflow: hidden;
  transition: 0.3s;
  font-size: 180px;
  font-weight: 800;
  color: #ffffff;
  font-family: Paperlogy 9;
  opacity: 0.12;
}

.infinite-text-wrap {
  animation-play-state: paused;
  animation: textLoop 300s linear infinite;
  padding-right: 2vw;
  pointer-events: none;
}

@keyframes textLoop {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-100%, 0, 0);
  }
}

.moreclickbtn {
  background: transparent linear-gradient(90deg, #1b58fd 0%, #00baa8 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 28px;
  opacity: 1;
}
