/* 테일윈드 설정 */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
  -webkit-text-size-adjust: 100%;
}

/* 앱 루트 컨테이너 스타일 */
#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 1% 0 0 0;
}

:root {
  /* Pretendard 폰트 시스템 설정 */
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    system-ui,
    Roboto,
    "Helvetica Neue",
    "Segoe UI",
    "Apple SD Gothic Neo",
    "Noto Sans KR",
    "Malgun Gothic",
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: block;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* 반응형 디자인을 위한 미디어 쿼리 */
@media (max-width: 48rem) {
  #root {
    padding: 1.5rem 1.5rem;
  }
}
