.input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  /* background-color: #ffffff; */
  border-top: 1px solid #e0e0e0;
  gap: 10px;
}

.input-area {
  flex: 1;
  display: flex;
  position: relative;
  flex-direction: column;
  align-content: center;
}

.input-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
  line-height: 1.5;
}

.byte-counter {
  font-size: 12px;
  position: absolute;
  color: #888;
  right: 10px;
  bottom: 10px;
  margin-bottom: 0px;
}

.send-button {
  background-color: #1e90ff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
