/* MainPage.css */
.wrap {
  display: flex;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 400px;
}

.wrap .rolling-list {
  width: 100%;
  height: 100%;
}

.wrap .rolling-list ul {
  display: flex;
  transition: transform 0.1s linear;
}

.wrap .rolling-list ul li {
  width: 589px;
  height: 276px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 0 16px;
  padding: 46px 31px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  transition: transform 0.3s ease;
}

.wrap .rolling-list ul li:nth-child(1) {
  background-color: #f8e1e3;
}

.wrap .rolling-list ul li:nth-child(2) {
  background-color: #ffeab5;
}

.wrap .rolling-list ul li:nth-child(3) {
  background-color: #d3e7dc;
}

.wrap .rolling-list ul li:nth-child(4) {
  background-color: #a6c1e8;
}

.wrap .rolling-list ul li:nth-child(even) {
  margin-top: 80px;
}

.wrap .rolling-list ul li .image-wrap {
  padding-right: 32px;
  width: 156px;
  flex-shrink: 0;
}

.wrap .rolling-list ul li .image-wrap > img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.wrap .rolling-list ul li .desc strong {
  display: block;
  font-size: 24px;
  margin-bottom: 24px;
  color: #333;
}

.wrap .rolling-list ul li .desc span {
  font-size: 18px;
  line-height: 1.2;
  color: #666;
  display: block;
}

@keyframes rolling {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
